
<div id="add-new-order">
    <div class="root">
        <form action="/admin/store-order" method="post">
        
                <div class="add-new-order-container">
                
            
                <div class="title">
                    <span>Thêm đơn đặt hàng mới</span>
                </div>

                <div class="form-user-info">
                    <div class="img">
                        <img src="./img/slide/mau-thiet-ke-poster-quang-cao-giay-33.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <div class="title-box">
                            <span>Nhập thông tin</span>
                        </div>
                        <div class="form-info user-name">
                            <label for="user-name">Họ Tên</label> <br>
                            <div class="form-input">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" placeholder="Họ Và Tên" id="user-name" name="userName">
                        
                            </div>
                        </div>

                        <div class="form-info user-phone">
                            <label for="user-phone">Số Điện Thoại</label> <br>
                            <div class="form-input">
                                <i class="fa-solid fa-square-phone"></i>
                                <input type="number" placeholder="Số Điện Thoại" id="user-phone" name="userPhone">
                        
                            </div>
                        </div>

                        <div class="form-info user-email">
                            <label for="user-email">Email</label><br>
                            <div class="form-input">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="email" placeholder="Email" id="user-email" name="userEmail">

                            </div>
                        </div>
                        
                        <div class="form-info user-note">
                            <label for="user-note">Ghi Chú</label><br>
                            <div class="form-input">
                                <i class="fa-solid fa-pencil"></i>
                                <textarea name="userNote" placeholder="Ghi Chú" id="user-note" cols="30" rows="1"></textarea>
                            
                            </div>
                        </div>

                        

                    
                </div>

                

            
                </div>


                <div class="shoes-order">
                    <div class="title-box">
                        <span>Chọn sản phẩm</span>
                    </div>

                    <div class="search">
                        <input type="text" placeholder="Bạn tìm gì..!">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="container shoes-content">
                        <div class="row navi">
                            <div class="col-1 check-box">
                            </div>

                            <div class="col-2 img ">
                                <span>Ảnh</span>
                            </div>

                            <div class="col-3 name">
                                <span>Tên</span>
                            </div>

                            <div class="col-2 promo-shoes">
                                <span>Khuyến mãi</span>
                            </div>

                            <div class="col-2 price">
                                <span>Giá</span>
                            </div>

                            <div class="col-2 count">
                                <span>Số lượng</span>
                            </div>
                        </div>

                   
                        <div class="row my-shoes">
                            <div class="col-1 check-box">
                                <div class="my-check">
                                    <input type="checkbox" name="id_shoes" value="">
                                </div>
                            </div>

                            <div class="img col-2">
                                <img src="img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                            </div>

                            <div class="col-3 name">
                                <span>Tên</span>
                            </div>

                            <div class="col-2 promo-shoes">
                                - <span>10<span style="color: rgb(238, 238, 238);">%</span> </span>
                            </div>

                            <div class="col-2 price">
                                <span>299.000đ</span>
                            </div>
                            <div class="col-2 count">
                                <input type="number" minlength="1" name="count">
                            </div>
                        </div>

                        <div class="row my-shoes">
                            <div class="col-1 check-box">
                                <div class="my-check">
                                    <input type="checkbox" name="id_shoes" value="">
                                </div>
                            </div>

                            <div class="img col-2">
                                <img src="img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                            </div>

                            <div class="col-3 name">
                                <span>Tên</span>
                            </div>

                            <div class="col-2 promo-shoes">
                                - <span>10<span style="color: rgb(238, 238, 238);">%</span> </span>
                            </div>

                            <div class="col-2 price">
                                <span>299.000đ</span>
                            </div>
                            <div class="col-2 count">
                                <input type="number" minlength="1" name="count">
                            </div>
                        </div>

                        <div class="row my-shoes">
                            <div class="col-1 check-box">
                                <div class="my-check">
                                    <input type="checkbox" name="id_shoes" value="">
                                </div>
                            </div>

                            <div class="img col-2">
                                <img src="img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                            </div>

                            <div class="col-3 name">
                                <span>Tên</span>
                            </div>

                            <div class="col-2 promo-shoes">
                                - <span>10<span style="color: rgb(238, 238, 238);">%</span> </span>
                            </div>

                            <div class="col-2 price">
                                <span>299.000đ</span>
                            </div>
                            <div class="col-2 count">
                                <input type="number" minlength="1" name="count">
                            </div>
                        </div>

                        <div class="row my-shoes">
                            <div class="col-1 check-box">
                                <div class="my-check">
                                    <input type="checkbox" name="id_shoes" value="">
                                </div>
                            </div>

                            <div class="img col-2">
                                <img src="img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                            </div>

                            <div class="col-3 name">
                                <span>Tên</span>
                            </div>

                            <div class="col-2 promo-shoes">
                                - <span>10<span style="color: rgb(238, 238, 238);">%</span> </span>
                            </div>

                            <div class="col-2 price">
                                <span>299.000đ</span>
                            </div>
                            <div class="col-2 count">
                                <input type="number" minlength="1" name="count">
                            </div>
                        </div> 

                        
          
                    

                    </div>
                </div>
            </div>


            

            <div class="submit">
                <label for="submid">
                    <i class="fa-solid fa-money-check-dollar"></i> 
                    <span class="book-now">
                        Đặt bàn
                    </span>
                    </label>
                <input type="submit"  id="submid">
                    
            
            </div>

        </div>
        </form>
</div>



