<div id="add-user">
    <div class="root">
        <div class="add-user-container">
            <div class="title">
                <h3>Thêm người dùng mới
                </h3>
            </div>
            <form action="/admin/store-user" method="post">
                <div class="form-add-user">
                    <div class="main-info">
                        <div class="name form-input">
                            <label for="name">Tên</label>
                            <div class="my-form">
                                <i class="fa-solid fa-user"></i>
                                <input type="text" id="name" name="name">
                            </div>
                        </div>

                        <div class="user form-input">
                            <label for="email">Email</label>
                            <div class="my-form">
                                <i class="fa-solid fa-envelope"></i>
                                <input type="email" id="email" name="email">

                            </div>
                        </div>


                        <div class="phone form-input">
                            <label for="phone">Số điện thoại</label>
                            
                            <div class="my-form">
                                <i class="fa-solid fa-square-phone"></i>
                                <input type="number" id="phone" name="phone">
                            </div>
                        </div>

                        <div class="pass-word form-input">
                            <label for="pass-word">Mật khẩu</label>
                            
                            <div class="my-form">
                                <i class="fa-solid fa-key"></i>
                                <input type="password" id="pass-word" name="passWord">
                            </div>
                        </div>

                        <div class="confirm-pass-word form-input">
                            <label for="confirm-pass-word">Nhập lại mật khẩu</label>
                            
                            <div class="my-form">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" id="confirm-pass-word" name="confirmPassWord">
                            </div>
                        </div>
                    </div>

                    <div class="img">
                        <img src="img/user/add-user1.jpg" alt="">
                    </div>
                </div>

                <div class="submit">
                    <button type="submit">
                        <i class="fa-solid fa-user-plus"></i>
                        <span>Thêm</span>
                    </button>
                </div>
            </form>

            
        </div>
    </div>
</div>