

<div id="booked">
    <div class="root">
        <div class="booked-container">
            <div class="my-booked">
                <div class="title">
                    <i class="fa-solid fa-bookmark"></i>
                    <span>Đơn hàng đã đặt</span>
                </div>

                <div class="container orders">
                    <div class="row navi">
                        
                        <div class="col-2 img">
                            <span>Ảnh</span>
                        </div>
                        <div class="name col-3">
                            <span>Tên khách hàng</span>
                        </div>

                        <div class="shoes-name col-2">
                            <span>Sản phẩm</span>
                        </div>

                        <div class="count-shoes col-1">
                            <span>s/l</span>
                        </div>
                       

                        <div class="time-booked col-3">
                            <span>Thời gian đặt</span>
                        </div>

                        <div class="confirm col-1">
                            <span>confirm</span>
                        </div>
                    </div>
                    <div class="row order">
                        
                        <div class="col-2 img">
                            <img src="img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                        </div>

                        <div class="name col-3">
                            <span>Ma Seo Tráng</span>
                        </div>

                        <div class="shoes-name col-2">
                            <span>Giày thể thao</span><br>
                            <span>giày thời trang</span>
                        </div>

                        <div class="count-shoes col-1">
                            <span>1</span><br>
                            <span>2</span>
                        </div>

                        <div class="time-booked col-3">
                            <span>6h pm 8/12/2021</span>
                        </div>

                        <div class="confirm col-1">
                           <a href="" class="my-confirm">
                               <i class="fa-solid fa-check"></i>
                           </a>
                        </div>
                    </div>

                    

                    
                </div>

                <div class="add-new-order">
                    <a href="">Thêm đơn đặt hàng mới</a>
                </div>
            </div>
        </div>
    </div>
</div>