<div>
    <span class="name1" data-name="{{name}}"></span>
    <div id="myChartCategory" style="width: 400px; height: 400px;">
        <canvas id="chartCategory" style="width: 400; height: 400;">
    </div>
    </canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./js/admin_script.js"></script>
      