<div>
        <span class="name1" data-name="{{name}}"></span>
        <div id="chart" style="width: 400px; height: 400px;">
            <canvas id="myChart1" style="width: 400; height: 400;">

        </div>
        </canvas>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      