
<div id="order-wait-confirm">
    <div class="root">
        <div class="wait-confirm">
            <div class="title">
                <span>Đơn hàng đang chờ xác nhận!</span>
            </div>

            <div class="container order-wait-confirm">
                <div class="row navi">

                    <div class="col-2 name-customer">
                        <span>Khách hàng</span>
                    </div>

                    <div class="col-3 name">
                        <span>Sản phẩm</span>
                    </div>
                    <div class="col-2 count">
                        <span>Số lượng</span>
                    </div>

                    <div class="col-2 time-booked">
                        <span>Giờ đặt</span>
                    </div>

                
                    <div class="col-1 confirm">
                        <span>confirm</span>
                    </div>

                    <div class="col-1 delete">
                        <span>Delete</span>
                    </div>
                </div>

                <div class="row my-order-wait-confirm">

                    <div class="col-2 name-customer">
                        <span>Ma seo tráng</span>
                    </div>

                    <div class="col-3 name">
                        <span>Giày thể thao</span> 
                    </div>

                    <div class="col-2 count">
                        <span>5</span>
                    </div>
                  
                    <div class="col-2 time-booked">
                        <span>10h AM 9/4/2022</span>
                    </div>


                    <div class="col-1 confirm action-box">
                       
                            <a href="" class="action-confirm my-action">
                                <i class="fa-solid fa-check"></i>
                            </a>
                      
                    </div>

                    <div class="col-1 delete action-box">
                       
                        <a href="" class="action-delete my-action">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                       
                    </div>
                </div>
                
                <div class="row my-order-wait-confirm">

                    <div class="col-2 name-customer">
                        <span>Ma seo tráng</span>
                    </div>

                    <div class="col-3 name">
                        <span>Giày thể thao</span> 
                    </div>

                    <div class="col-2 count">
                        <span>5</span>
                    </div>
                  
                    <div class="col-2 time-booked">
                        <span>10h AM 9/4/2022</span>
                    </div>


                    <div class="col-1 confirm action-box">
                       
                            <a href="" class="action-confirm my-action">
                                <i class="fa-solid fa-check"></i>
                            </a>
                      
                    </div>

                    <div class="col-1 delete action-box">
                       
                        <a href="" class="action-delete my-action">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                       
                    </div>
                </div>

                <div class="row my-order-wait-confirm">

                    <div class="col-2 name-customer">
                        <span>Ma seo tráng</span>
                    </div>

                    <div class="col-3 name">
                        <span>Giày thể thao</span> <br>
                        <span>Giày thời trang</span>
                    </div>

                    <div class="col-2 count">
                        <span>5</span> <br>
                        <span>2</span>
                    </div>
                  
                    <div class="col-2 time-booked">
                        <span>10h AM 9/4/2022</span>
                    </div>


                    <div class="col-1 confirm action-box">
                       
                            <a href="" class="action-confirm my-action">
                                <i class="fa-solid fa-check"></i>
                            </a>
                      
                    </div>

                    <div class="col-1 delete action-box">
                       
                        <a href="" class="action-delete my-action">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                       
                    </div>
                </div>

                

                
            </div>

            
        </div>
    </div>
</div>