<div id="view-user">
    <div class="root">
        <div class="view-user-container">
        
        <div class="users">
            <div class="title">
                <span>Danh sách người dùng</span>
            </div>

            <form action="">
                <div class="search">
                    <input type="text" name="search" placeholder="Tìm người dùng...?">
                    <button type="submit" class="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>


                
            </form>

            <div class="my-users">
                <div class="container">
                    <div class="row navi">
                        <div class="col-1 index">
                            <span>STT</span>
                        </div>
                        <div class="col-3 name">
                            <span>Tên</span>
                        </div>

                        <div class="col-1 booked">
                            <span>Đã đặt</span>
                        </div>

                        <div class="col-3">
                            <span>Email</span>
                        </div>

                        <div class="col-2 created">
                            <span>Đã thêm</span>
                        </div>

                        <div class="col-1 edit">
                            <span>Sửa</span>
                        </div>

                        <div class="col-1 delete">
                            <span>Xóa</span>
                        </div>

                    </div>

                    <div class="row user">
                        <div class="col-1 index">
                            <span>1</span>
                        </div>
                        <div class="col-3 name">
                            <span>Ma seo tráng</span>
                        </div>

                        <div class="col-1 booked">
                            <span>50</span>
                        </div>

                        <div class="col-3">
                            <span>seotrangbh24@gmail.com</span>
                        </div>

                        <div class="col-2 created">
                            <span>10/12/2001</span>
                        </div>

                        <div class="col-1 edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>

                        <div class="col-1 delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>

                    </div>

                    <div class="row user">
                        <div class="col-1 index">
                            <span>1</span>
                        </div>
                        <div class="col-3 name">
                            <span>Ma seo tráng</span>
                        </div>

                        <div class="col-1 booked">
                            <span>50</span>
                        </div>

                        <div class="col-3">
                            <span>seotrangbh24@gmail.com</span>
                        </div>

                        <div class="col-2 created">
                            <span>10/12/2001</span>
                        </div>

                        <div class="col-1 edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>

                        <div class="col-1 delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>

                    </div>


                    <div class="row user">
                        <div class="col-1 index">
                            <span>1</span>
                        </div>
                        <div class="col-3 name">
                            <span>Ma seo tráng</span>
                        </div>

                        <div class="col-1 booked">
                            <span>50</span>
                        </div>

                        <div class="col-3">
                            <span>seotrangbh24@gmail.com</span>
                        </div>

                        <div class="col-2 created">
                            <span>10/12/2001</span>
                        </div>

                        <div class="col-1 edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>

                        <div class="col-1 delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>

                    </div>


                    <div class="row user">
                        <div class="col-1 index">
                            <span>1</span>
                        </div>
                        <div class="col-3 name">
                            <span>Ma seo tráng</span>
                        </div>

                        <div class="col-1 booked">
                            <span>50</span>
                        </div>

                        <div class="col-3">
                            <span>seotrangbh24@gmail.com</span>
                        </div>

                        <div class="col-2 created">
                            <span>10/12/2001</span>
                        </div>

                        <div class="col-1 edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </div>

                        <div class="col-1 delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </div>

                    </div>


                   

                    
                </div>
            </div>

            <a class="add-new-user-a" href="/admin/add-new-user">
                <div class="admin-action">
                    
                        <i class="fa-solid fa-user-plus"></i>
                        <span>Thêm người dùng mới</span>

                </div>
            </a>
        </div>

    </div>
    </div>

    
</div>