<div class="cart-container">

    <div class="cart-content">
        <div class="my-products-cart">
            
            <ul class="nav-cart-content ">
                <li class="nav-cart col col1">Sản phẩm</li>
                <li class="nav-cart col col2">Thông tin sản phẩm</li>
                <li class="nav-cart col col3">Đơn giá</li>
                <li class="nav-cart col col4">Số lượng</li>
                <li class="nav-cart col col5">Thành tiền</li>
                <li class="nav-cart col col6">Xóa</li>
            
            </ul>   


            <ul class="cart-products">
                {{#each products}}
                <li class="products">
                    <ul class="products-info ">
                        <li class="img-cart-products col col1">
                            <img src="{{this.img}}" alt="">

                        </li>
                        <li class="name-cart-products col col2">
                            <span>{{this.name}}</span>
                        </li>

                        <li class="price-cart-products col col3">
                            <span>{{this.price}}đ</span>
                        </li>

                        <li class="count-cart-products col col4">
                            <button class="btn-minus">
                                -
                            </button>

                            <input name = "countCart" maxlength="5" min="1" type="number" value="{{this.temp}}" class="count-cart">

                            <button class="btn-plus">
                                +
                            </button>
                        </li>

                        <li class="into-money col col5">
                            <span>10.520.000₫</span>
                        </li>

                        <li class="delete-cart-products col col6">
                            <i class="fa-solid fa-trash-can"></i>
                        </li>
                    </ul>
                </li>
                
                {{/each}}

            </ul>


        </div>

        

    </div>

    <div class="cart-order">
            <div class="total-money">
                <div style="display: inline-block;" class="title">
                  Tổng tiền : 
                </div>

                <div style="display: inline-block; color: red;" class="money">
                 1.520.000₫
                </div>
                
            </div>

            <div class="action">
                <div class="btn-order continue-shoping">
                    <button><a href="/products">Tiếp tục mua hàng</a></button>
                </div>
                <div  class="btn-order order-now">
                    <button><a href="/check-order">Đặt hàng ngay</a></button>
                </div>

            </div>
        </div>
    
</div>

<script>
    var color = document.getElementById("navParents");
    color.style.backgroundColor = "#260759";

</script>