<<<<<<< HEAD
<div id="footer">
          <!-- dòng kẻ -->
          <div class="lines">
              
          </div>

          <div class="content-footer">
            <div class="navfooter about-us">
              <div class="logo">
                <img src="./img/shoes logo 4.png" alt="">
              </div>
              <div class="about-us-chind introdue">
                <span><b>Shoes Shop</b>  là shop chuyên cung cấp các dòng sản phẩm về giày Sneaker như Adidas, Nike, Vans, Converse,...</span>
              </div>
              <div class="about-us-chind address">
                <h5>ĐỊA CHỈ CỬA HÀNG: </h5>

                <div class="about-us-chind address1">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="48" height="48"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" 
                  stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" 
                  stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" 
                  style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M136.16667,107.5h-100.33333l-17.91667,50.16667h136.16667z" 
                  fill="#3498db"></path><path d="M86,14.33333c-23.74675,0 -43,18.99167 -43,42.41233c0,25.671 43,79.421 43,79.421c0,0 43,-53.75 43,-79.421c0,-23.42067 -19.25325,-42.41233 -43,-42.41233zM86,78.83333c-11.87517,0 -21.5,-9.62842 -21.5,-21.5c0,-11.87158 9.62842,-21.5 21.5,-21.5c11.87158,0 21.5,9.62842 21.5,21.5c0,11.87158 -9.62483,21.5 -21.5,21.5z" 
                  fill="#ffffff"></path></g><g><g id="IOS_copy"><path 
                  d="M172,136.16667c0,19.70833 -16.125,35.83333 -35.83333,35.83333c-19.70833,0 -35.83333,-16.125 -35.83333,-35.83333c0,-19.70833 16.125,-35.83333 35.83333,-35.83333c19.70833,0 35.83333,16.125 35.83333,35.83333" 
                  fill="#43a047"></path><path d="M157.66667,129h-14.33333v-14.33333h-14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h14.33333v-14.33333h14.33333z" 
                  fill="#ffffff"></path></g></g><g fill="#cccccc"><path d="M99.195,68.94v3.7h-10.97v30.42h-4.48v-30.42h-10.94v-3.7z"></path></g></g></svg>
                  <span>CN 1: Gần trường cntt Thái Nguyên</span>
                </div>

                <div class="about-us-chind address2">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="48" height="48"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" 
                  stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" 
                  stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" 
                  style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M136.16667,107.5h-100.33333l-17.91667,50.16667h136.16667z" 
                  fill="#3498db"></path><path d="M86,14.33333c-23.74675,0 -43,18.99167 -43,42.41233c0,25.671 43,79.421 43,79.421c0,0 43,-53.75 43,-79.421c0,-23.42067 -19.25325,-42.41233 -43,-42.41233zM86,78.83333c-11.87517,0 -21.5,-9.62842 -21.5,-21.5c0,-11.87158 9.62842,-21.5 21.5,-21.5c11.87158,0 21.5,9.62842 21.5,21.5c0,11.87158 -9.62483,21.5 -21.5,21.5z" 
                  fill="#ffffff"></path></g><g><g id="IOS_copy"><path 
                  d="M172,136.16667c0,19.70833 -16.125,35.83333 -35.83333,35.83333c-19.70833,0 -35.83333,-16.125 -35.83333,-35.83333c0,-19.70833 16.125,-35.83333 35.83333,-35.83333c19.70833,0 35.83333,16.125 35.83333,35.83333" 
                  fill="#43a047"></path><path d="M157.66667,129h-14.33333v-14.33333h-14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h14.33333v-14.33333h14.33333z" 
                  fill="#ffffff"></path></g></g><g fill="#cccccc"><path d="M99.195,68.94v3.7h-10.97v30.42h-4.48v-30.42h-10.94v-3.7z"></path></g></g></svg>
                  <span>CN 2: Gần trường thpt phú xuyên A, Phú Xuyên Hà Nội</span>
                </div>

                <div class="about-us-chind phone-number">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="48" height="48"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" 
                  stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" 
                  font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" 
                  fill="none"></path><g><path d="M153.79667,137.31333l-3.29667,23.93667h-14.33333l-7.16667,-10.75h-86l-7.16667,10.75h-14.33333l-3.29667,-23.93667c-0.68083,-5.4825 -0.1075,-11.03667 1.72,-16.2325l13.18667,-35.08083l0.03583,-0.07167l7.13083,-19.0275c1.935,-5.55417 7.05917,-9.28083 12.86417,-9.5675h65.07333c6.09167,0 11.5025,3.83417 13.545,9.5675l20.3175,54.18c1.8275,5.19583 2.40083,10.75 1.72,16.2325z" 
                  fill="#3498db"></path><path d="M100.33333,82.41667h14.33333v7.16667h-14.33333zM100.33333,96.75h14.33333v7.16667h-14.33333zM100.33333,111.08333h14.33333v7.16667h-14.33333zM78.83333,82.41667h14.33333v7.16667h-14.33333zM78.83333,96.75h14.33333v7.16667h-14.33333zM78.83333,111.08333h14.33333v7.16667h-14.33333zM57.33333,82.41667h14.33333v7.16667h-14.33333zM57.33333,96.75h14.33333v7.16667h-14.33333zM57.33333,111.08333h14.33333v7.16667h-14.33333z" 
                  fill="#2ecc71"></path><path d="M103.91667,50.16667h14.33333v10.75h-14.33333zM53.75,50.16667h14.33333v7.16667h-14.33333z" fill="#3498db"></path><path 
                  d="M53.14083,57.33333c-5.805,0.28667 -10.92917,4.01333 -12.86417,9.5675l-7.13083,19.0275l9.06583,-4.76583c4.945,-2.58 8.385,-7.4175 9.28083,-12.9l1.75583,-10.92917z" 
                  fill="#666666"></path><path d="M168.21242,41.48425l-5.07042,-19.57575c-0.94242,-3.827 -3.97033,-6.82625 -7.8475,-7.77942c-9.70008,-2.38292 -19.479,-3.34325 -28.96408,-3.37908c-0.15767,0 -0.31533,0 -0.46942,0c-18.0385,-0.01433 -34.97692,3.28592 -48.18867,6.44642c-20.26733,4.84825 -48.47892,13.36583 -70.42683,32.34675c-3.00283,2.59792 -4.30358,6.63275 -3.36117,10.45975l5.074,20.62208c0.80267,3.268 3.72667,5.32842 6.82983,5.375c0.58767,0.00717 1.18608,-0.05375 1.77375,-0.19708c0.65217,-0.15767 1.29717,-0.41208 1.91708,-0.76683l19.39658,-10.20892c2.95983,-1.55875 5.0095,-4.40033 5.5255,-7.67192l3.48658,-21.9945c11.98267,-5.17075 24.03342,-8.514 33.97717,-10.88975c9.94733,-2.37933 22.2095,-4.85183 35.26358,-5.67242l13.26192,17.25017c1.98158,2.67317 5.12058,4.27492 8.47458,4.3215l22.04108,-0.01075c0.71667,0.03942 1.40825,-0.02867 2.06042,-0.18275c3.15692,-0.74892 5.44308,-3.57617 5.44667,-6.80475c0.00358,-0.55542 -0.06092,-1.12158 -0.20067,-1.68775z" 
                  fill="#9b59b6"></path><path d="M154.08333,68.08333c-8.55342,0 -13.95708,-5.30333 -14.17925,-5.52908l5.04533,-5.08833c0.03583,0.03583 3.6335,3.45075 9.13392,3.45075c5.50042,0 9.09808,-3.41492 9.13392,-3.45075l5.04533,5.08833c-0.22217,0.22575 -5.62583,5.52908 -14.17925,5.52908zM16.21458,31.82358l-5.5685,-4.515c0.43358,-0.52675 10.69267,-12.97525 28.77058,-12.97525v7.16667c-14.55908,0 -22.8545,9.90433 -23.20208,10.32358z" fill="#2ecc71"></path></g></g></svg>
                  <span> Phone: 0386 640 397</span>
                </div>

              </div>
            </div>

  
            <div class="navfooter customer-support">
              <div class="customer-support-chind title">
                <img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-customer-design-thinking-and-3d-model-printing-flatart-icons-lineal-color-flatarticons.png"/>
                <h5>Dịch Vụ Khách Hàng</h5>
              </div>

              <ul>
                <li class="customer-support-chind">Hướng dẫn mua hàng</li>
                <li class="customer-support-chind">Cách Chọn Size Giày</li>
                <li class="customer-support-chind">Vận Chuyển Hàng</li>
                <li class="customer-support-chind">Đổi Trả</li>
                <li class="customer-support-chind">Phàn Nàn/Góp Ý</li>
                <li class="customer-support-chind">Chọn Mẫu Ưng Ý</li>
              </ul>
  
            </div>
  
            <div class="navfooter information">
              <div class="information-chind title">
                <img src="https://img.icons8.com/cute-clipart/64/000000/info.png"/>
                <h5>Thông Tin</h5>
                
              </div>
              <ul>
                <li class="information-chind">Về 1Sneaker</li>
                <li class="information-chind">Bảo Mật Thông Tin</li>
                <li class="information-chind">Tài Khoản</li>
                <li class="information-chind">Sản Phẩm Yêu Thích</li>
                <li class="information-chind">Feedback</li>
                <li class="information-chind">Mua Sỉ</li>
              </ul>
  
            </div>
  
            <div class="navfooter favorite-products">
              <div class="faverite-products-chind title">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="58" height="58"
                viewBox="0 0 172 172"
                style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" 
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" 
                font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path 
                  d="M86,150.34344l41.33954,21.65656l-7.89509,-45.86924l33.44444,-32.48448l-46.21912,-6.6922l-20.66977,-41.73315l-20.66977,41.73315l-46.21912,6.6922l33.44444,32.48448l-7.89509,45.86924z" 
                  fill="#f6e94c"></path><path d="M86,27.84562c-2.43556,0 -4.41026,-1.97469 -4.41026,-4.41026v-19.02511c0,-2.43556 1.97469,-4.41026 4.41026,-4.41026c2.43556,0 4.41026,1.97469 4.41026,4.41026v19.02511c0,2.43556 -1.97469,4.41026 -4.41026,4.41026z" 
                  fill="#e3edf0"></path><path d="M42.64791,41.97462c-1.26317,0 -2.51642,-0.53952 -3.38891,-1.58512l-12.15834,-14.57406c-1.5605,-1.87032 -1.30911,-4.65135 0.56121,-6.21148c1.86995,-1.5605 4.65135,-1.30911 6.21148,0.56121l12.15834,14.57406c2.43556,2.72774 0.21316,7.3519 -3.38377,7.23539z" 
                  fill="#e3edf0"></path><path d="M129.35209,41.97462c-3.59767,0.1165 -5.81897,-4.50838 -3.38414,-7.23576l12.15834,-14.57406c1.56013,-1.87032 4.34153,-2.12207 6.21148,-0.56121c1.87032,1.5605 2.1217,4.34153 0.56121,6.21148l-12.15834,14.57406c-0.87176,1.04597 -2.12574,1.58549 -3.38855,1.58549z" 
                fill="#e3edf0"></path></g></g></svg>
                <h5>Sản Phẩm Ưa Thích</h5>
              </div>

              <ul>
                <li class="faverite-products-chind">Giày Sneaker</li>
                <li class="faverite-products-chind">Giày Nike</li>
                <li class="faverite-products-chind">Giày Adidas</li>
                <li class="faverite-products-chind">Giày New Balance</li>
                <li class="faverite-products-chind">Giày Converse</li>
                <li class="faverite-products-chind">Giày Vans</li>
              </ul>
  
            </div>
  
            <div class="navfooter shipping-unit">
              <div class="shipping-unit-chind title">
                <img src="https://img.icons8.com/color-glass/48/000000/free-shipping.png"/>
                <h5>Đơn Vị Vận Chuyển</h5>
              </div>
              <div class="logo">
                <img src="./img/đơn vị vận chuyển.jpg" alt="">
              </div>
            </div>
          </div>
          
=======
<div id="footer">
          <!-- dòng kẻ -->
          <div class="lines">
              
          </div>

          <div class="content-footer">
            <div class="navfooter about-us">
              <div class="logo">
                <img src="./img/shoes logo 4.png" alt="">
              </div>
              <div class="about-us-chind introdue">
                <span><b>Shoes Shop</b>  là shop chuyên cung cấp các dòng sản phẩm về giày Sneaker như Adidas, Nike, Vans, Converse,...</span>
              </div>
              <div class="about-us-chind address">
                <h5>ĐỊA CHỈ CỬA HÀNG: </h5>

                <div class="about-us-chind address1">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="48" height="48"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" 
                  stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" 
                  stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" 
                  style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M136.16667,107.5h-100.33333l-17.91667,50.16667h136.16667z" 
                  fill="#3498db"></path><path d="M86,14.33333c-23.74675,0 -43,18.99167 -43,42.41233c0,25.671 43,79.421 43,79.421c0,0 43,-53.75 43,-79.421c0,-23.42067 -19.25325,-42.41233 -43,-42.41233zM86,78.83333c-11.87517,0 -21.5,-9.62842 -21.5,-21.5c0,-11.87158 9.62842,-21.5 21.5,-21.5c11.87158,0 21.5,9.62842 21.5,21.5c0,11.87158 -9.62483,21.5 -21.5,21.5z" 
                  fill="#ffffff"></path></g><g><g id="IOS_copy"><path 
                  d="M172,136.16667c0,19.70833 -16.125,35.83333 -35.83333,35.83333c-19.70833,0 -35.83333,-16.125 -35.83333,-35.83333c0,-19.70833 16.125,-35.83333 35.83333,-35.83333c19.70833,0 35.83333,16.125 35.83333,35.83333" 
                  fill="#43a047"></path><path d="M157.66667,129h-14.33333v-14.33333h-14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h14.33333v-14.33333h14.33333z" 
                  fill="#ffffff"></path></g></g><g fill="#cccccc"><path d="M99.195,68.94v3.7h-10.97v30.42h-4.48v-30.42h-10.94v-3.7z"></path></g></g></svg>
                  <span>CN 1: Gần trường cntt Thái Nguyên</span>
                </div>

                <div class="about-us-chind address2">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="48" height="48"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" 
                  stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" 
                  stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" 
                  style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M136.16667,107.5h-100.33333l-17.91667,50.16667h136.16667z" 
                  fill="#3498db"></path><path d="M86,14.33333c-23.74675,0 -43,18.99167 -43,42.41233c0,25.671 43,79.421 43,79.421c0,0 43,-53.75 43,-79.421c0,-23.42067 -19.25325,-42.41233 -43,-42.41233zM86,78.83333c-11.87517,0 -21.5,-9.62842 -21.5,-21.5c0,-11.87158 9.62842,-21.5 21.5,-21.5c11.87158,0 21.5,9.62842 21.5,21.5c0,11.87158 -9.62483,21.5 -21.5,21.5z" 
                  fill="#ffffff"></path></g><g><g id="IOS_copy"><path 
                  d="M172,136.16667c0,19.70833 -16.125,35.83333 -35.83333,35.83333c-19.70833,0 -35.83333,-16.125 -35.83333,-35.83333c0,-19.70833 16.125,-35.83333 35.83333,-35.83333c19.70833,0 35.83333,16.125 35.83333,35.83333" 
                  fill="#43a047"></path><path d="M157.66667,129h-14.33333v-14.33333h-14.33333v14.33333h-14.33333v14.33333h14.33333v14.33333h14.33333v-14.33333h14.33333z" 
                  fill="#ffffff"></path></g></g><g fill="#cccccc"><path d="M99.195,68.94v3.7h-10.97v30.42h-4.48v-30.42h-10.94v-3.7z"></path></g></g></svg>
                  <span>CN 2: Gần trường thpt phú xuyên A, Phú Xuyên Hà Nội</span>
                </div>

                <div class="about-us-chind phone-number">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="48" height="48"
                  viewBox="0 0 172 172"
                  style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" 
                  stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" 
                  font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" 
                  fill="none"></path><g><path d="M153.79667,137.31333l-3.29667,23.93667h-14.33333l-7.16667,-10.75h-86l-7.16667,10.75h-14.33333l-3.29667,-23.93667c-0.68083,-5.4825 -0.1075,-11.03667 1.72,-16.2325l13.18667,-35.08083l0.03583,-0.07167l7.13083,-19.0275c1.935,-5.55417 7.05917,-9.28083 12.86417,-9.5675h65.07333c6.09167,0 11.5025,3.83417 13.545,9.5675l20.3175,54.18c1.8275,5.19583 2.40083,10.75 1.72,16.2325z" 
                  fill="#3498db"></path><path d="M100.33333,82.41667h14.33333v7.16667h-14.33333zM100.33333,96.75h14.33333v7.16667h-14.33333zM100.33333,111.08333h14.33333v7.16667h-14.33333zM78.83333,82.41667h14.33333v7.16667h-14.33333zM78.83333,96.75h14.33333v7.16667h-14.33333zM78.83333,111.08333h14.33333v7.16667h-14.33333zM57.33333,82.41667h14.33333v7.16667h-14.33333zM57.33333,96.75h14.33333v7.16667h-14.33333zM57.33333,111.08333h14.33333v7.16667h-14.33333z" 
                  fill="#2ecc71"></path><path d="M103.91667,50.16667h14.33333v10.75h-14.33333zM53.75,50.16667h14.33333v7.16667h-14.33333z" fill="#3498db"></path><path 
                  d="M53.14083,57.33333c-5.805,0.28667 -10.92917,4.01333 -12.86417,9.5675l-7.13083,19.0275l9.06583,-4.76583c4.945,-2.58 8.385,-7.4175 9.28083,-12.9l1.75583,-10.92917z" 
                  fill="#666666"></path><path d="M168.21242,41.48425l-5.07042,-19.57575c-0.94242,-3.827 -3.97033,-6.82625 -7.8475,-7.77942c-9.70008,-2.38292 -19.479,-3.34325 -28.96408,-3.37908c-0.15767,0 -0.31533,0 -0.46942,0c-18.0385,-0.01433 -34.97692,3.28592 -48.18867,6.44642c-20.26733,4.84825 -48.47892,13.36583 -70.42683,32.34675c-3.00283,2.59792 -4.30358,6.63275 -3.36117,10.45975l5.074,20.62208c0.80267,3.268 3.72667,5.32842 6.82983,5.375c0.58767,0.00717 1.18608,-0.05375 1.77375,-0.19708c0.65217,-0.15767 1.29717,-0.41208 1.91708,-0.76683l19.39658,-10.20892c2.95983,-1.55875 5.0095,-4.40033 5.5255,-7.67192l3.48658,-21.9945c11.98267,-5.17075 24.03342,-8.514 33.97717,-10.88975c9.94733,-2.37933 22.2095,-4.85183 35.26358,-5.67242l13.26192,17.25017c1.98158,2.67317 5.12058,4.27492 8.47458,4.3215l22.04108,-0.01075c0.71667,0.03942 1.40825,-0.02867 2.06042,-0.18275c3.15692,-0.74892 5.44308,-3.57617 5.44667,-6.80475c0.00358,-0.55542 -0.06092,-1.12158 -0.20067,-1.68775z" 
                  fill="#9b59b6"></path><path d="M154.08333,68.08333c-8.55342,0 -13.95708,-5.30333 -14.17925,-5.52908l5.04533,-5.08833c0.03583,0.03583 3.6335,3.45075 9.13392,3.45075c5.50042,0 9.09808,-3.41492 9.13392,-3.45075l5.04533,5.08833c-0.22217,0.22575 -5.62583,5.52908 -14.17925,5.52908zM16.21458,31.82358l-5.5685,-4.515c0.43358,-0.52675 10.69267,-12.97525 28.77058,-12.97525v7.16667c-14.55908,0 -22.8545,9.90433 -23.20208,10.32358z" fill="#2ecc71"></path></g></g></svg>
                  <span> Phone: 0386 640 397</span>
                </div>

              </div>
            </div>

  
            <div class="navfooter customer-support">
              <div class="customer-support-chind title">
                <img src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-customer-design-thinking-and-3d-model-printing-flatart-icons-lineal-color-flatarticons.png"/>
                <h5>Dịch Vụ Khách Hàng</h5>
              </div>

              <ul>
                <li class="customer-support-chind">Hướng dẫn mua hàng</li>
                <li class="customer-support-chind">Cách Chọn Size Giày</li>
                <li class="customer-support-chind">Vận Chuyển Hàng</li>
                <li class="customer-support-chind">Đổi Trả</li>
                <li class="customer-support-chind">Phàn Nàn/Góp Ý</li>
                <li class="customer-support-chind">Chọn Mẫu Ưng Ý</li>
              </ul>
  
            </div>
  
            <div class="navfooter information">
              <div class="information-chind title">
                <img src="https://img.icons8.com/cute-clipart/64/000000/info.png"/>
                <h5>Thông Tin</h5>
                
              </div>
              <ul>
                <li class="information-chind">Về 1Sneaker</li>
                <li class="information-chind">Bảo Mật Thông Tin</li>
                <li class="information-chind">Tài Khoản</li>
                <li class="information-chind">Sản Phẩm Yêu Thích</li>
                <li class="information-chind">Feedback</li>
                <li class="information-chind">Mua Sỉ</li>
              </ul>
  
            </div>
  
            <div class="navfooter favorite-products">
              <div class="faverite-products-chind title">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="58" height="58"
                viewBox="0 0 172 172"
                style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" 
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" 
                font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path 
                  d="M86,150.34344l41.33954,21.65656l-7.89509,-45.86924l33.44444,-32.48448l-46.21912,-6.6922l-20.66977,-41.73315l-20.66977,41.73315l-46.21912,6.6922l33.44444,32.48448l-7.89509,45.86924z" 
                  fill="#f6e94c"></path><path d="M86,27.84562c-2.43556,0 -4.41026,-1.97469 -4.41026,-4.41026v-19.02511c0,-2.43556 1.97469,-4.41026 4.41026,-4.41026c2.43556,0 4.41026,1.97469 4.41026,4.41026v19.02511c0,2.43556 -1.97469,4.41026 -4.41026,4.41026z" 
                  fill="#e3edf0"></path><path d="M42.64791,41.97462c-1.26317,0 -2.51642,-0.53952 -3.38891,-1.58512l-12.15834,-14.57406c-1.5605,-1.87032 -1.30911,-4.65135 0.56121,-6.21148c1.86995,-1.5605 4.65135,-1.30911 6.21148,0.56121l12.15834,14.57406c2.43556,2.72774 0.21316,7.3519 -3.38377,7.23539z" 
                  fill="#e3edf0"></path><path d="M129.35209,41.97462c-3.59767,0.1165 -5.81897,-4.50838 -3.38414,-7.23576l12.15834,-14.57406c1.56013,-1.87032 4.34153,-2.12207 6.21148,-0.56121c1.87032,1.5605 2.1217,4.34153 0.56121,6.21148l-12.15834,14.57406c-0.87176,1.04597 -2.12574,1.58549 -3.38855,1.58549z" 
                fill="#e3edf0"></path></g></g></svg>
                <h5>Sản Phẩm Ưa Thích</h5>
              </div>

              <ul>
                <li class="faverite-products-chind">Giày Sneaker</li>
                <li class="faverite-products-chind">Giày Nike</li>
                <li class="faverite-products-chind">Giày Adidas</li>
                <li class="faverite-products-chind">Giày New Balance</li>
                <li class="faverite-products-chind">Giày Converse</li>
                <li class="faverite-products-chind">Giày Vans</li>
              </ul>
  
            </div>
  
            <div class="navfooter shipping-unit">
              <div class="shipping-unit-chind title">
                <img src="https://img.icons8.com/color-glass/48/000000/free-shipping.png"/>
                <h5>Đơn Vị Vận Chuyển</h5>
              </div>
              <div class="logo">
                <img src="./img/đơn vị vận chuyển.jpg" alt="">
              </div>
            </div>
          </div>
          
>>>>>>> bbf8e4cb3a63354c4dadc95e587bbd7331ea4b20
        </div>