<div id="header">
         <div id="navParents" class="navParents">

           <div class="logo cssanimation pepe sequence">
             <a href="#header"><img src="./img/shoes logo 4.png" alt=""></a>
           </div>

            <div class="navi">
              <ul class="nav">
                <li class="home"><a href="/">Trang chủ</a></li>
                
                <li class="men">
                  <a href="">Giày Nam</a>
                  <ul class="navi-2">
                    <li><a href="">Nike</a></li>
                    <li><a href="">Adidas</a></li>
                    <li><a href="">Vans</a></li>
                    <li><a href="">Balenciaga</a></li>
                    <li><a href="">Converse</a></li>
                  </ul>
                  </li>
                <li class="women">
                  <a href="">Giày Nữ</a>
                  <ul class="navi-2">
                    <li><a href="">Nike</a></li>
                    <li><a href="">Adidas</a></li>
                    <li><a href="">Vans</a></li>
                    <li><a href="">Balenciaga</a></li>
                    <li><a href="">Converse</a></li>
                  </ul>
                  </li>
                <li class="kids">
                  <a href="">Trẻ em</a>
                  <ul class="navi-2">
                    <li><a href="">Nike</a></li>
                    <li><a href="">Adidas</a></li>
                    <li><a href="">Vans</a></li>
                    <li><a href="">Balenciaga</a></li>
                    <li><a href="">Converse</a></li>
                  </ul>
                  </li>
                <li class="kids">
                  <a href="">Liên hệ</a>
                  </li>
                <li class="kids">
                  <a href="">Giới thiệu</a>
                  </li>
                

            <div class="search">
              <div class="col">
                <input type="text" class="form-control" placeholder="Bạn muốn tìm..?" aria-label="Bạn muốn tìm?..">
              </div>
              <i class="fas fa-search" style="font-size: 24px; color: #012b61"></i>
            </div>

            <div class="cart">
              <a href="./cart">
                <div class="content">
                  <i style="font-size: 20px; color: #e1e4e7;" class="fas fa-shopping-cart"></i>
                  <span>Giỏ hàng</span>
                </div>
              </a>
            </div>
 
         </div>
         <br>
         
        </div>
        
      </div>