

<div class="container">
        <!-- header -->
        

      <!-- my baner -->
      <div class="my-barner">
        <div id="myBarner">
          <div class="body">
            <div class="content ">
              
              <div class="decription ">
                <div class="title animate__animated animate__zoomInDown">Giày Chạy Bộ Mới</div>
                <div class="name animate__animated animate__zoomInDown">Men's Like Plex</div>
                <div class="short-decription animate__animated animate__zoomInDown">
                  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
  
              <div class="shop-now ">
                <a  href="#body">
                  <button class="animate__animated animate__fadeInTopLeft">Mua Sắm Ngay</button>
                  
                </a>
                <a  href="#footer">
                  <button class="animate__animated animate__fadeInTopRight" style="margin-left: 15px;">Tìm Hiểu Thêm</button>
                </a>
              </div>
            </div>

            
  
              <div class="img-barner animate__animated animate__bounceInUp ">
                <img class="cssanimation hu__hu__ sequence" src="./img//images/running-shoes.png" alt="">
              </div>
          </div>
          </div>
      </div>

        


        <!-- body -->
        <div id="body">
          <div class="content">
            
            <!-- slide -->
            <!-- <div class="slide">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./img/slide/banner-like-facebook_ver5.jpg" style="border-radius: 10px;" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./img/slide/maxresdefault (2).jpg" style="border-radius: 10px;" class="d-block w-100" alt="...">
                  </div>
              
                  <div class="carousel-item">
                    <img src="./img/slide/homepage-banner-volt.jpg" style="border-radius: 10px;" class="d-block w-100" alt="...">
                  </div>

                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> -->


            <!-- short-description-website -->
            <div class="short-de-web">
              <div class="item ship">
                <div class="icon">
                  <img src="./img/icons8-truck-50.png" alt="">
                </div>
                <div class="title">
                  <div class="name">
                    GIAO HÀNG TOÀN QUỐC
                  </div>
                  <div class="description">
                    Vận chuyển khắp Việt Nam
                  </div>
                </div>
              </div>

              <div class="item pay">
                <div class="icon">
                  <img src="./img/icons8-pay-64.png" alt="">
                </div>
                <div class="title">
                  <div class="name">
                    THANH TOÁN KHI NHẬN HÀNG
                  </div>
                  <div class="description">
                    Nhận hàng tại nhà rồi thanh toán
                  </div>
                </div>
              </div>
              
              <div class="item insurance">
                <div class="icon">
                  <img src="./img/icons8-vehicle-insurance-48.png" alt="">
                </div>
                <div class="title">
                  <div class="name">
                    BẢO HÀNH DÀI HẠN
                  </div>
                  <div class="description">
                    Bảo hàng lên đến 60 ngày
                  </div>
                </div>
              </div>

              <div class="item lie">
                <div class="icon">
                  <img src="./img/icons8-no-synchronize-48.png" alt="">
                </div>
                <div class="title">
                  <div class="name">
                    ĐỔI HÀNG DỄ DÀNG
                  </div>
                  <div class="description">
                    Đổi hàng thoải mái trong 30 ngày
                  </div>
                </div>
              </div>

            </div>

            <!-- filters (bộ lọc)--> 
            <div class="filters">
              <div class="barands">
                
                <ul class="navBarands">
                  <li class="nike"><a href=""><img src="./img/Barands (nhãn hiệu)/logo nike.jpg" alt=""><div>Nike</div></a></li>
                  <li class="adidas"><a href=""><img src="./img/Barands (nhãn hiệu)/logo-adidas.jpg" alt=""><div>Adidas</div> </a></li>
                  <li class="vans"><a href=""><img src="./img/Barands (nhãn hiệu)/logo vans.png" alt=""><div>Vans</div> </a></li>
                  <li class="balenciaga"><a href=""><img src="./img/Barands (nhãn hiệu)/logo-Balenciaga.jpg" alt=""><div>Balenciaga</div> </a></li>
                  <li class="converse"><a href=""><img src="./img/Barands (nhãn hiệu)/logo_converse_thumbnail.jpg" alt=""><div>Converse</div> </a></li>
                  <li class="cewBalance"><a href=""><img src="./img/Barands (nhãn hiệu)/logo new-balance.jpg" alt=""><div>CewBalance</div> </a></li>
                </ul>
              </div>
            </div>

            <div class="products latest-product">
              <div class="title">
                TOP SẢN PHẨM MỚI NHẤT
              </div>
              <div class="products">

                <a href="/detail" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>

                <!-- xoa -->
                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>
                <!-- het -->

              </div>
              <div class="see-more see-more-latest">
                
                <button><a href="">Xem Thêm</a><img src="https://img.icons8.com/ios-glyphs/30/000000/sort-down.png"/></button>
              </div>
            </div>


            <!-- noi bat nhat -->

            <div class="products Featured-products">
              <div class="title">
                TOP SẢN PHẨM NỔI BẬT NHẤT
              </div>
              <div class="products">

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>

                <!-- xoa -->
                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Giày Adidas EQT Bask ADV xanh dương  .webp" alt="">
                  </div>
                  <div class="names">
                    Giày Adidas EQT Bask ADV xanh dương
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    699.000.000₫
                  </div>
                </a>

                <a href="" class="product">
                  <div class="img">
                    <img src="./img/Products/Nike Air Jordan 1 Retro High Turbo Green (xanh lam).jpg" alt="">
                  </div>
                  <div class="names">
                    Nike Air Jordan 1 Retro High Turbo Green (xanh lam)
                  </div>
                  <div class="old-price">
                    900.000.000₫
                  </div>
                  <div class="price">
                    780.000.000₫
                  </div>
                </a>
                <!-- het -->

              </div>

              <div class="see-more see-more-Featured">
                
                <button><a href="" class="">Xem Thêm</a><img src="https://img.icons8.com/ios-glyphs/30/000000/sort-down.png"/></button>
              </div>
            </div>


          </div>
        </div>

        <!-- footer -->
        
    <script>
        window.onscroll = function () {
    console.log(document.documentElement.scrollTop);
    var scrooll = document.documentElement.scrollTop;

    var color = document.getElementById("navParents");
    if (scrooll>100) {
       
        color.style.backgroundColor = "#260759";
        
        
    }else if(scrooll<100){
        
        color.style.backgroundColor = "transparent"; //trông suốt
    }
    
}
    </script>
