<<<<<<< HEAD
<style>
    .space{
        height: 78px;
    }
    #notification{
        width: 100%;
        min-height: 500px;

    }

    #notification .container-notification{
    
        width: 80%;
        margin: 100px auto;
        color: blue;
        text-align: center;
    }

    #notification .container-notification h5{
        display: inline-block;
    }
</style>

<div id="notification">
    <div class="space"></div>
    <div class="container-notification">
        <i class="fa-solid fa-circle-check"></i>
        <h5>Bạn đã đặt hàng thành công</h5>
        <a href="/">Quay về trang chủ</a>
    </div>
    
</div>

<script>
    var color = document.getElementById("navParents");
    color.style.backgroundColor = "#260759";



=======
<style>
    .space{
        height: 78px;
    }
    #notification{
        width: 100%;
        min-height: 500px;

    }

    #notification .container-notification{
    
        width: 80%;
        margin: 100px auto;
        color: blue;
        text-align: center;
    }

    #notification .container-notification h5{
        display: inline-block;
    }
</style>

<div id="notification">
    <div class="space"></div>
    <div class="container-notification">
        <i class="fa-solid fa-circle-check"></i>
        <h5>Bạn đã đặt hàng thành công</h5>
        <a href="/">Quay về trang chủ</a>
    </div>
    
</div>

<script>
    var color = document.getElementById("navParents");
    color.style.backgroundColor = "#260759";



>>>>>>> bbf8e4cb3a63354c4dadc95e587bbd7331ea4b20
</script>